.header {
    display: flex; 
    padding: 30px;
    text-align: center;
    background: #ecd552;
    color: black;
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    align-items: center; 
  }
  
  .page {
    background-image: linear-gradient(to bottom right, #5880ec,rgb(224, 232, 247));
    padding-bottom: 30px;  
    color: black; 
    font-size: 15px; 
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  .picture {
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: auto;
    border: 2px solid #555
  }
  
  .overall {
    font-size: 15px; 
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .center {
    display: flex;   
    text-align: center;
    align-items: center; 
    height: 500px;
  }

  .ratings {
    flex-wrap: wrap; 
    margin-left: 120px;  
  }

  .picture1 {
    display: block;
    width: 165%;
    margin-top: 30px;
    margin-left: 50px; 
    margin-right: auto;
    border: 2px solid #555
  }

  /* .leftheader {
    margin-left: 50px;
  } */

  .header-parent {
      margin: auto;
      display: flex;
  }